= render "workbaskets/measure_type/steps/main/measure_type_series_id", f: f
= render "workbaskets/measure_type/steps/main/measure_type_id", f: f
= render "workbaskets/measure_type/steps/main/description", f: f
= render "workbaskets/measure_type/steps/main/validity_period", f: f
= render "workbaskets/measure_type/steps/main/operation_date", f: f
